.header{
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    box-sizing: border-box;
    background-color: linear-gradient(190deg, rgba(243,244,246,1) 0%, rgba(225,238,254,1) 100%);

    &__list{
        display: flex;
        align-items: center;
        gap: 95px;
    }

    &__list-item{
        font-size: 20px;
        line-height: 24px;
        font-family: 'Popins';
        font-weight: 400;
        font-style: regular;
        letter-spacing: 0%;
        vertical-align: middle;

        &:hover{
            font-weight: bold;
            cursor: pointer;
        }
    }

    &__logo{
        height: 50px;
    }
}