@use '../styles/components/reset.scss';
@use '../styles/components/header.scss';
@use '../styles/components/main.scss';
@use '../styles/components/achievement.scss';
@use '../styles/components/gallery.scss';
@use '../styles/components/download.scss';
@use '../styles/components/faq.scss';
@use '../styles/components/footer.scss';
@use '../styles/components/responsive.scss';
@use '../styles/components/calendar.scss';
@use '../styles/components/stationSelector.scss';
*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 16px;
}

.hidden-height{
    height: 0px;
    padding: 0px;
    overflow-x: hidden;
}